/* General styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #121212;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

section {
  margin-bottom: 40px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  margin-bottom: 20px;
}

ul li {
  margin-bottom: 10px;
}

/* Header styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  font-size: 36px;
  margin: 0;
}

header nav ul {
  display: flex;
}

header nav li {
  margin-left: 20px;
}

header nav a:hover {
  text-decoration: underline;
}

/* Youtube section styles */

.youtube-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.youtube-section iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
}

.youtube-section .youtube-preview {
  width: 100%;
  max-width: 240px;
  margin-left: 20px;
}

.youtube-section .youtube-preview ul li {
  margin-bottom: 0;
}

.youtube-section .youtube-preview img {
  width: 100%;
  max-width: 240px;
  height: 135px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.youtube-section .youtube-preview a {
  font-size: 16px;
}

/* Instagram section styles */

.instagram-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instagram-section .instagram-feed {
  width: 100%;
  max-width: 240px;
  margin-right: 20px;
}

.instagram-section .instagram-feed ul li {
  margin-bottom: 0;
}

.instagram-section .instagram-feed img {
  width: 100%;
  max-width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.instagram-section .instagram-feed a {
  font-size: 16px;
}

/* Spotify section styles */

.spotify-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spotify-section .spotify-playlists {
  width: 100%;
  max-width: 240px;
  margin-left: 20px;
}

.spotify-section .spotify-playlists ul li {
  margin-bottom: 0;
}

.spotify-section .spotify-playlists img {
  width: 100%;
  max-width: 240px;
  height: 240px;
  object-fit: cover;
  border-radius: 5;
}

.spotify-section .spotify-playlists .playlist-title {
  margin: 10px 0;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.spotify-section .spotify-playlists .playlist-link {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #1db954;
  border-radius: 20px;
}

.spotify-section .spotify-playlists .playlist-link:hover {
  background-color: #15a246;
}
